<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>购买</title>
    <style type="text/css">
        #tbId {
            border-collapse: collapse;
        }
        #tbId td {
            width: 180px;
            height: 25px;
            border: 1px solid black;
        }
    </style>
    <script src="static/js/jquery-3.3.1.min.js" type="application/javascript"></script>
    <script type="application/javascript">
        $(function () {
            initTable();
            initList();
        });

        /**
         * 初始化表格
         */
        function initTable() {
            for (var i = 0; i < 20; i++) {
                var $tr = $('<tr id="tr_' + i + '"></tr>');
                $('#tbId').append($tr);
                for (var j = 0; j < 6; j++) {
                    var tdId = (i + 1) + 20*j;
                    $tr.append('<td id="td_' + tdId + '"></td>');
                }
            }
        }

        /**
         * 初始化表格数据
         */
        function initList() {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/adc/list',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data == null) {
                        alert('没有响应结果！');
                        return;
                    }
                    if (data.code != 200) {
                        alert(data.message);
                        return;
                    }
                    var datas = data.data.ticketSscVos;
                    $('#msgId').html('当前账户还有金钱：' + data.data.nowMoney);
                    for (var i = 0; i < datas.length; i++) {
                        var ticket = datas[i];
                        var aft3num = ticket.aft3num;
                        parseNowData(aft3num, ticket.ticketNo, ticket.ticketDate, ticket.ticketNum);
                    }
                }
            });
        }
        function parseNowData(aft3num, ticketNo, ticketDate, ticketNum) {
            var oldDate = $('#dateDiv').html();
            if (oldDate != ticketDate) {
                $('#tbId td').html('');
            }
            var txt = '';
            var col = '';
            if (aft3num == 3) {
                txt = '豹子';
                col = 'blue';
            } else if (aft3num == 2) {
                txt = '组三';
                col = 'red';
            } else {
                txt = '组六';
                col = 'black';
            }
            var $td = $('#td_' + parseInt(ticketNo));
            $td.css('color', col);
            $td.html(ticketNo + ' ' + ticketNum + ' ' + txt);

            $('#dateDiv').html(ticketDate);
        }
        function nextNo() {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/adc/nextno',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data == null) {
                        alert('没有响应结果！');
                        return;
                    }
                    if (data.code != 200) {
                        alert(data.message);
                        return;
                    }
                    var ticket = data.data;
                    $('#msgId').html('当前账户还有金钱：' + ticket.nowMoney);
                    var aft3num = ticket.aft3num;
                    parseNowData(aft3num, ticket.ticketNo, ticket.ticketDate, ticket.ticketNum);
                }
            });
        }
        function buy() {
            var buyMoney = $('#buyId').val();
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/adc/buy',
                contentType: 'application/json;charset=utf-8',
                data: JSON.stringify({'buyMoney':buyMoney}),
                success: function (data) {
                    if (data == null) {
                        alert('没有响应结果！');
                        $('#msgId').html('没有响应结果！');
                        $('#msgId').css('color', 'red');
                        return;
                    }
                    if (data.code != 200) {
                        alert(data.message);
                        $('#msgId').html(data.message);
                        $('#msgId').css('color', 'red');
                        return;
                    }
                    var money = data.data;
                    $('#msgId').html('购买成功，当前账户还剩金钱：' + money);
                    $('#msgId').css('color', 'green');
                }
            });
        }
    </script>
</head>
<body>
    <div>
        <div id="msgId"></div>
        <div id="dateDiv"></div>
        <input id="buyId" type="text" value="10"/>
        <input type="button" value="购买" onclick="buy()"/>
        <input type="button" value="下一期" onclick="nextNo()"/>
    </div>
    <div id="outDiv">
        <table id="tbId">
        </table>
    </div>
</body>
</html>