<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .ct1{
            width: 2064px;
            height: 500px;
        }
        .ctt{
            color: black;
            margin-left: 20px;
            float: left;
            width: 250px;
            height: 500px;
            border: black 1px solid;
            text-align: center;
            padding-top: 10px;
        }
        .ct2{
            width: 300px;
            height: 50px;
            margin-left: 20px;
        }
    </style>
    <script src="static/js/jquery-3.3.1.min.js" type="application/javascript"></script>
    <script type="application/javascript">
        $(function () {
            var butt = $('#nowNo').val();
            $('#nextData').html('>> ' + ++butt);
        });
        // 获取数据
        function ajaxSubmit() {
            var initDate = $("#initDate").val();
            var no = $("#nowNo").val();
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '/ticketctr/next',
                contentType: 'application/json;charset=utf-8',
                data: {'ticketDate':initDate, 'ticketNo':no},
                success: function (data) {
                    if (data == null) {
                        alert('没有响应结果！');
                        return;
                    }
                    if (data.code != 200) {
                        alert(data.message);
                        return;
                    }
                    var line = data.data.line;
                    var did = '';
                    if (line == 1) {
                        did = '#t1';
                    } else if (line == 2) {
                        did = '#t2';
                    } else if (line == 3) {
                        did = '#t3';
                    } else if (line == 4) {
                        did = '#t4';
                    } else if (line == 5) {
                        did = '#t5';
                    } else if (line == 6) {
                        did = '#t6';
                    }
                    var aft3MaxCount = data.data.aft3MaxCount;
                    var cl;
                    if (aft3MaxCount == 2) {
                        cl = true;
                    }
                    var d = $('<div>' + data.data.ticketDate + '-' + data.data.ticketNo + '-' + data.data.ticketNum + '</div>');
                    $(did).append(d);
                    if (cl) {
                        d.css('color', 'red');
                    }
                    $('#a_m_id').val(data.data.allMoney);
                    $('#y_m_id').val(data.data.money);
                    $('#z_m_id').val(data.data.fee);
                    $('#c_m_id').val(data.data.reFee);
                }
            });
        }
        function nextNo() {
            // 现在的no
            var no = $("#nowNo").val();
            // 计算下一个no
            var nextNo = no == 120 ? 0 : ++no;
            // 新的数字
            $("#nowNo").val(nextNo);
            $('#nextData').html('>> ' + (nextNo + 1));
            if (nextNo == 0) {
                // 清空数据
                $('#d1').children('div.ctt').html('');
                // 日期变成明天
                var initDate = new Date($('#initDate').val());
                initDate.setDate(initDate.getDate() + 1);
                var month = initDate.getMonth() + 1;
                if (month.toString().length < 2) {
                    month = '0' + month;
                }
                var date = initDate.getDate();
                if (date.toString().length < 2) {
                    date = '0' + date;
                }
                $('#initDate').val(initDate.getFullYear() + '-' + month + '-' + date);
                return;
            }
            // 获取数据
            ajaxSubmit();
        }
        function buyTic() {
            // 买的期数
            var buyCount = $('#buyCount').val();
            var date = $('#initDate').val();
            var nowNo = $('#nowNo').val();
            var startMoney = $('#startMoney').val();
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '/ticketctr/buy',
                contentType: 'application/json;charset=utf-8',
                data: {'ticketDate':date, 'ticketNo':nowNo, 'count':buyCount, 'start':startMoney},
                success: function (data) {
                    if (data == null) {
                        alert('没有响应结果！');
                        return;
                    }
                    if (data.code == 200) {
                        var list = data.data;
                        alert(JSON.stringify(list));
                    }
                }
            });
        }
    </script>
</head>
<body>
<div id="d1" class="ct1">
    <div id="t1" class="ctt"></div>
    <div id="t2" class="ctt"></div>
    <div id="t3" class="ctt"></div>
    <div id="t4" class="ctt"></div>
    <div id="t5" class="ctt"></div>
    <div id="t6" class="ctt"></div>
</div>
<div class="ct2">
    <div>
        日期：
        <input type="date" id="initDate" value="2018-06-02"/>
    </div>
    <div>
        期号：
        <input type="number" id="nowNo" value="0">
    </div>
    <div>
        下期：
        <button id="nextData" onclick="nextNo()"></button>
    </div>
    <div style="width: 800px;">
        买数：
        <input id="buyCount" value="3"/>
        买钱：
        <input id="startMoney" value="0.9"/>
        <button id="buyBut" onclick="buyTic()">购买</button>
    </div>
    <div style="width: 800px;">
        总金额：
        <input style="width: 100px;" id="a_m_id" value=""/>
        原金额：
        <input style="width: 100px;" id="y_m_id" value=""/>
        中奖金额：
        <input style="width: 100px;" id="z_m_id" value=""/>
        撤单金额：
        <input style="width: 100px;" id="c_m_id" value=""/>
    </div>
</div>
</body>
</html>