<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        #outDiv div {
            float: left;
            width: 636px;
            border: none;
        }
        #outDiv div div {
            float: left;
            margin-left: 10px;
            width: 202px;
        }
        ul {
            list-style: none;
            width: 200px;
            border: 1px solid darkgray;
            padding: 0px;
            height: 602px;
        }
        ul li {
            height: 30px;
        }
    </style>
    <script src="static/js/jquery-3.3.1.min.js" type="application/javascript"></script>
    <script type="application/javascript">
        // 自动加载JavaScript
        $(function () {
            var today = new Date();
            $('#hiddenDate').val(today);
            $('#showDate').val(today.toLocaleDateString());
            $('#showType').val(3);
            $('#aft3But').css('background-color', 'chartreuse');
            createData(today, 3);
        });
        // 修改日期
        function changeDay(day) {
            var hiddenDate = $('#hiddenDate');
            if (hiddenDate.val() == null) {
                var today = new Date();
                $('#hiddenDate').val(today);
            }
            var pd = new Date(hiddenDate.val());
            pd.setDate(pd.getDate() + day);
            $('#hiddenDate').val(pd);
            $('#showDate').val(pd.toLocaleDateString());

            var showType = $('#showType').val();
            createData(pd, showType);
        }
        // 切换类型1-前三，2-中三，3-后三
        function changeType(type, but) {
            $(but).parent().children().css('background-color', '');
            $(but).css('background-color', 'chartreuse');
            $('#showType').val(type);
            var day = $('#hiddenDate').val();
            day = new Date(day);
            createData(day, type);
        }

        /**
         * 获取数据
         * @param date 日期
         * @param type 类型1-前三，2-中三，3-后三
         */
        function createData(date, type) {
            date = date.toLocaleDateString();
            var u1 = $('#u1');
            var u2 = $('#u2');
            var u3 = $('#u3');
            var u4 = $('#u4');
            var u5 = $('#u5');
            var u6 = $('#u6');
            // 清空页面
            u1.html('');
            u2.html('');
            u3.html('');
            u4.html('');
            u5.html('');
            u6.html('');
            // 1-前三，2-中三，3-后三
            var befType = 1, midType = 2, aftType = 3;
            // 默认后三
            if (type == null || (type != 1 && type != 2 && type != 3)) {
                type = 3;
            }
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '/analyze/list',
                contentType: 'application/json;charset=utf-8',
                data: {'date':date},
                success: function (data) {
                    if (data == null) {
                        alert('没有响应结果！');
                        return;
                    }
                    if (data.code != 200) {
                        alert(data.message);
                        return;
                    }
                    var datas = data.data;
                    for (var i = 0; i < datas.length; i++) {
                        var dt = datas[i];
                        // 期号
                        var no = dt.no;
                        // 号码
                        var num = dt.num;
                        var li = '<li>' + no + ' ' + num + '</li>';
                        // jquery li对象
                        var jli = $(li);
                        if (i >= 0 && i < 20) {
                            u1.append(jli);
                        } else if (i >= 20 && i < 40) {
                            u2.append(jli);
                        } else if (i >= 40 && i < 60) {
                            u3.append(jli);
                        } else if (i >= 60 && i < 80) {
                            u4.append(jli);
                        } else if (i >= 80 && i < 100) {
                            u5.append(jli);
                        } else if (i >= 100 && i < 120) {
                            u6.append(jli);
                        }
                        // 前三
                        if (type == befType) {
                            // 前三最大相同个数
                            var bef3MaxCount = dt.bef3MaxCount;
                            // 前三012路
                            var bef3012 = dt.bef3012;
                            if (bef3MaxCount == 2) {
                                jli.append('<span style="color: red;width: 10px;"> 组三</span>');
                            } else if (bef3MaxCount == 1) {
                                jli.append('<span style="width: 10px;"> 组六</span>');
                            } else if (bef3MaxCount == 3) {
                                jli.append('<span style="color: #5865ff;width: 10px;"> 豹子</span>');
                            }
                            if (bef3012) {
                                jli.append('<span style="color: #ffdc10;width: 10px;"> 012</span>');
                            } else {
                                jli.append('<span style="width: 10px;"> </span>');
                            }
                        // 中三
                        } else if (type == midType) {
                            // 中三最大相同个数
                            var mid3MaxCount = dt.mid3MaxCount;
                            // 中三012路
                            var mid3012 = dt.mid3012;
                            if (mid3MaxCount == 2) {
                                jli.append('<span style="color: red;width: 10px;"> 组三</span>');
                            } else if (mid3MaxCount == 1) {
                                jli.append('<span style="width: 10px;"> 组六</span>');
                            } else if (mid3MaxCount == 3) {
                                jli.append('<span style="color: #5865ff;width: 10px;"> 豹子</span>');
                            }
                            if (mid3012) {
                                jli.append('<span style="color: #ffdc10;width: 10px;"> 012</span>');
                            } else {
                                jli.append('<span style="width: 10px;"> </span>');
                            }
                        // 后三
                        } else if (type == aftType) {
                            // 后三最大相同个数
                            var aft3MaxCount = dt.aft3MaxCount;
                            // 后三012路
                            var aft3012 = dt.aft3012;
                            if (aft3MaxCount == 2) {
                                jli.append('<span style="color: red;width: 10px;"> 组三</span>');
                            } else if (aft3MaxCount == 1) {
                                jli.append('<span style="width: 10px;"> 组六</span>');
                            } else if (aft3MaxCount == 3) {
                                jli.append('<span style="color: #5865ff;width: 10px;"> 豹子</span>');
                            }
                            if (aft3012) {
                                jli.append('<span style="color: #ffdc10;width: 10px;"> 012</span>');
                            } else {
                                jli.append('<span style="width: 10px;"> </span>');
                            }
                        }
                    }
                }
            });
        }
    </script>
</head>
<body>
    <div id="headDiv" style="width: 636px;">
        <button style="height: 30px;width: 100px;" onclick="changeDay(-1)">前一天</button>
        <button style="height: 30px;width: 100px;" onclick="changeDay(1)">后一天</button>
        <span>
            <button style="height: 30px;width: 100px;" onclick="changeType(1, this)">前 三</button>
            <button style="height: 30px;width: 100px;" onclick="changeType(2, this)">中 三</button>
            <button id="aft3But" style="height: 30px;width: 100px;" onclick="changeType(3, this)">后 三</button>
        </span>
        <input id="hiddenDate" type="hidden" value=""/>
        <input id="showType" type="hidden" value=""/>
        <input id="showDate" type="text" style="width: 108px;" value=""/>
    </div>
    <div id="outDiv">
        <div>
            <div>
                <ul id="u1"></ul>
            </div>
            <div>
                <ul id="u2"></ul>
            </div>
            <div>
                <ul id="u3"></ul>
            </div>
        </div>
        <div>
            <div>
                <ul id="u4"></ul>
            </div>
            <div>
                <ul id="u5"></ul>
            </div>
            <div>
                <ul id="u6"></ul>
            </div>
        </div>
    </div>
</body>
</html>