<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>摘要打印</title>
    <style type="text/css">
        #outDiv {
            width:600px;
            height:700px;
        }
        #outDiv div {
            margin-top: 5px;
            left: 2%;
            height: 160px;
        }

        #outDiv div div textarea {
            width: 600px;
            height: 120px;
        }
    </style>
</head>
<body>
    <div id="outDiv">
        <div>
            日期：<input type="text" value=""/>
            <div>
                <textarea>摘要信息，花费100，剩余100摘要信息，花费100，剩余100摘要信息，花费100，剩余100摘要信息，花费100，剩余100摘要信息，花费100，剩余100摘要信息，花费100，剩余100</textarea>
            </div>
        </div>
        <div>
            日期：<input type="text" value=""/>
            <div>
                <textarea>摘要信息，花费100，剩余100摘要信息，花费100，剩余100摘要信息，花费100，剩余100摘要信息，花费100，剩余100摘要信息，花费100，剩余100摘要信息，花费100，剩余100摘要信息，花费100，剩余100</textarea>
            </div>
        </div>
        <div>
            日期：<input type="text" value=""/>
            <div>
                <textarea>摘要信息，花费100，剩余100摘要信息，花费100，剩余100摘要信息，花费100，剩余100摘要信息，花费100，剩余100摘要信息，花费100，剩余100摘要信息，花费100，剩余100</textarea>
            </div>
        </div>
        <div>
            日期：<input type="text" value=""/>
            <div>
                <textarea>摘要信息，花费100，剩余100</textarea>
            </div>
        </div>
        <div>
            日期：<input type="text" value=""/>
            <div>
                <textarea>摘要信息，花费100，剩余100摘要信息，花费100，剩余100摘要信息，花费100，剩余100摘要信息，花费100，剩余100摘要信息，花费100，剩余100摘要信息，花费100，剩余100</textarea>
            </div>
        </div>
    </div>
</body>
</html>